//BACKGROUND-COLORS
$bg-website: #f6f8fa;
$bg-white: #fff;
$bg-lightred: #fbebea;
$bg-tag: #ddedff;

//COLORS
$color-darkblue: #1c4980;
$color-lightblue: #0073e6;
$color-red: #d63500;
$color-lightgreen: #05c165;
$color-grey: #8da4bf;

//BORDER-COLORS
$border-overviewSection: #dde5ea;
$border-lightgrey: #dadce0;
